@font-face{
    font-family: "ubuntu-regular";   
    src: url('../fonts/ubuntu-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ubuntu-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/ubuntu-regular.ttf') format('truetype'), /* Safari, Android, iOS */           
        url('../fonts/ubuntu-regular.svg#svgFontName') format('svg'); /* Legacy iOS */  
}

.el_contenedor{
    margin: auto;
    text-align: center;
    font-family: "ubuntu-regular";
}

a{
 color: rgb(85, 81, 81);
    text-decoration: none;
    padding-left: 15px;
}

.el_flex{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    
}
.el_flexitem{
    color: white;
    border: 5px solid ;
    text-align: start;
}



