@font-face{
    font-family: "ubuntu-regular";   
    src: url('../fonts/ubuntu-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ubuntu-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/ubuntu-regular.ttf') format('truetype'), /* Safari, Android, iOS */           
        url('../fonts/ubuntu-regular.svg#svgFontName') format('svg'); /* Legacy iOS */  
}

li{
    list-style: none;
}

ul {
    padding: 0px;
}

a {
    text-decoration: none;
}

.el_contenedor{
    margin: 0 auto;
    text-align: center;
    font-family: "ubuntu-regular";
    padding-top: 25px;
    font-size: 16px;
}

.el_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.el_menu{
    padding: 10px;
    flex-grow: 1;
}

.el_itemmenu {
    display:inline-block;
    position: relative;
    text-align: center;
    
}

.el_itemmenu a {
    color: #000;
    font-weight: 700;
    padding:15px;
}

.el_itemmenu:hover .el_caixasubmenu {
    display: flex;
}

.el_itemmenu a:hover {
    text-decoration: none;
}

.bg_icones {
    background-color: #ededed;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: block;
    transition: width .3s, height .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.el_icones li:hover .bg_icones {
    width: 50px;
    height: 50px;
}

.el_icones li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    width: 50px;
    height: 50px;
}

.el_icones li:last-child {
    margin-right: 0px;
}

.el_icones .fa {
    font-size: 21px;
    color: #000;
    position: absolute;
    width: 21px;
    text-align: center;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.el_slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 15px;
}
.el_slider ul{
    display: flex;
    padding: 0;
    width: 400%;    

    animation: change 20s infinite;
    animation-direction: alternate;
}

.el_slider li {
    list-style: none;
    width: 100%;
}

.el_slider img{
    width: 100%;
}

.el_texmenu{
    color: rgb(85, 81, 81);
    text-decoration: none;
    padding-left: 15px;
}

.el_flex{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;  
}

.el_flexitem{
    margin: 0;
    color: white;
    border: 5px solid ;
}

h4, p, h2 {
    margin: 0;
    margin-left: 15px;
    text-align: left;
}

h2{
    margin-top: 3px;
    font-size: 28px;  
    width: 95px;
    background: rgb(255, 230, 6);
    box-shadow: 2px 2px 0 0 rgb(248, 2, 2);
}

.el_estrellas{
    color: rgb(255, 230, 6);
    text-align: left;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 15px;
        
}
#text{
    color: rgb(0, 0, 0);
}

.el_novidade{
    background: rgb(248, 2, 2);
    color: white;
    margin: 0;
    padding: 3px;
    width: 14.5%;
    margin-left: 15px;
    text-align: left;
    border-radius: 8px;
}

@keyframes change{
    0%{ margin-left: 0; }
    20%{ margin-left: 0;  }
    
    25%{ margin-left: -100%;  }
    45%{ margin-left: -100%;  }

    50%{ margin-left: -200%;  }
    70%{ margin-left: -200%;  }

    75%{ margin-left: -300%;  }
    100%{ margin-left: -300%;  }
}
