* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    background-color:#fff;
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

ul {
    padding: 0px;
}

a {
    text-decoration: none;
}

.la_topo {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.la_header {
    height: 70px;
}

.la_barrapretatopo {
    height: 50px;
    background-color: #000;
}

.la_barrapretatopo ul {
    width: 850px;
    margin: 0 auto;
}

.la_barrapretatopo .fa {
    color: #fff;
}

.la_barrapretatopo li {
    list-style: none;
    display: inline-block;
    margin-right: 124px;
}

.la_barrapretatopo li:last-child {
    margin-right: 0px;
}

.la_barrapretatopo a {
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
}

.la_barrapretatopo a:hover {
    text-decoration: underline;
}

.close {
 color: #fff;
}

.la_menu {
    flex-grow: 1;
}

.la_headerelements {
    flex-direction: row;
}

.la_logo {
    margin-right: 20px;
}

.la_itemmenu {
    display:inline-block;
    position: relative;
}

.la_itemmenu a {
    color: #000;
    font-weight: 700;
    padding:15px;
}

.la_itemmenu:hover .la_caixasubmenu {
    display: flex;
}

.la_itemmenu a:hover {
    text-decoration: underline;
}

.la_caixasubmenu {
    background-color:#fff;
    display: none;
    justify-content: space-between;
    position: absolute;
    box-shadow: 0 25px 25px 0 rgba(51,51,51,0.25);
    padding-top: 40px;
}

.la_caixasubmenu1 {
    width: 1023px;
}

.la_caixasubmenu2 {
    width: 300px;
}

.la_listacaixasubmenu {
    border-right: solid 1px #eee;
    width: 33.3%;
    padding: 0px 40px 40px;
}

.la_listacaixasubmenu2 {
    padding: 0px 40px 40px;
}

.la_listacaixasubmenu:last-child {
    border: none;
}

.la_listacaixasubmenu h2{
    font-size: 24px;
}

.la_submenu {
    display: block;
}

.la_submenu h2 {
    padding-bottom: 20px;
}

.la_submenu li {
    width: 100%;
    padding: 10px;
    position: relative;
}

.la_submenu a {
    font-size: 14px;
    padding: 0px;
}

.bg_icones {
    background-color: #ededed;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: block;
    transition: width .3s, height .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.la_icones li:hover .bg_icones {
    width: 50px;
    height: 50px;
}

.la_icones li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    width: 50px;
    height: 50px;
}

.la_icones li:last-child {
    margin-right: 0px;
}

.la_icones .fa {
    font-size: 21px;
    color: #000;
    position: absolute;
    width: 21px;
    text-align: center;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.la_caixasubmenu .fa {
    font-size: 13px;
}

.la_submenu .fa {
    font-size: 13px;
    position: absolute;
    right: 0px;
    top: 15px;
}

.la_colorlink a {
    color:#0058a3;
}